
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header-nav .navbar{
    background: hsl(140, 87%, 78%);
}
.reload-btn{
    background: transparent;
    border: transparent;
    padding: 10px;
}
.reload-btn i{
    font-size: 32px;
}
.title{
    font-size: 24px;
}
.section{
    
    background: hsl(300, 73%, 88%);
}